pipeline/isDualPurpose.json
{
	"name": "isDualPurpose",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "isDualPurpose",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('isDualPurpose')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait for false",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait for true",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "isDualPurpose",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "isDualPurpose",
					"value": {
						"value": "@pipeline().parameters.isDualPurpose",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Data flow2",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "BooleanValueTest",
						"type": "DataFlowReference",
						"parameters": {
							"isDualPurpose": {
								"value": "@variables('isDualPurpose')",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"isDualPurpose": {
				"type": "bool"
			}
		},
		"variables": {
			"isDualPurpose": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"folder": {
			"name": "OL/General"
		},
		"annotations": [],
		"lastPublishTime": "2025-09-07T15:10:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}