pipeline/Sync Items.json
{
	"name": "Sync Items",
	"properties": {
		"activities": [
			{
				"name": "Create UOItems csv",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "CreateUOItemsCsv",
						"type": "DataFlowReference",
						"parameters": {
							"Container": {
								"value": "'@{pipeline().globalParameters.FO_Synapse_Container}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Copy  Item csv to Dataverse",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Create UOItems csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy Items csv to Dataverse",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Create RecomOrderQty",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy  Item csv to Dataverse",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Sync Warehouses",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Create RecomOrderQty",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Sync Warehouses",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Sync Warehouses",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Container": {
							"value": "@pipeline().globalParameters.FO_Synapse_Container",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Failure message",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Create RecomOrderQty Error",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Sync Warehouses Error",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Copy Item Error",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set UI items Error",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@pipeline().globalParameters.SlackMessageLogicAppUrl",
						"type": "Expression"
					},
					"body": {
						"value": "{\n\"Channel\": \"stock-replenishment-app\",\n\"Message\": \" Inbound Data Run failed in @{pipeline().globalParameters.Environment} Environemnt \\nDataFactoryName: @{pipeline().DataFactory} \\nPipelineName: @{pipeline().Pipeline} \\nError: @{variables('Error')}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set UI items Error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Create UOItems csv",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error",
					"value": {
						"value": "@activity('Create UOItems csv').error?.message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Copy Item Error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy  Item csv to Dataverse",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error",
					"value": {
						"value": "@activity('Copy  Item csv to Dataverse').error?.message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Sync Warehouses Error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Sync Warehouses",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error",
					"value": {
						"value": "@activity('Sync Warehouses').error?.message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Create RecomOrderQty Error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Create RecomOrderQty",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error",
					"value": {
						"value": "@activity('Create RecomOrderQty').error?.message",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Error": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-19T11:19:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}